@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADERS*/
header {
    position: relative; 
    height: 100px;
  }

.iconLogo {
   position: absolute;
    left: 6px; 
    top: 6px; 
    width: 52px; 
    height: 52px; 
}
.iconTxt {
   position: absolute;
    left: 150px;
    top: 60px;  
    font-family:'Times New Roman', Times, serif;
    font-weight: 700; 
    font-size: 42px;
    white-space: nowrap; 
    color: #C3C5CC;
}

.name{
    position: absolute; 
    left: 1311px;           
    top: 154px;             
    width: 1400px;        
    height: 154px;      
    
    font-family: 'Lato', sans-serif;
    font-weight: 700;     
    font-size: 128px;
    line-height: 154px;  
    white-space: nowrap;  
    overflow: hidden; 
}


body{
  background-color: #0E0E28;
}