* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND DESIGNS*/

body{
  min-height: 100vh;
  background: linear-gradient(to bottom, #0b0b2b, #1b2735 70%, #090a0f);
  overflow: hidden;
}

/* BACKGROUND DESIGNS*/


/* HEADER DESIGNS*/
header {
    position: relative; 
    height: 12%;
  }

.iconLogo {
   position: absolute;
    left: 1%; 
    top: 1%; 
    width: 58px;
    height: 58px; 
}

/* HEADER DESIGNS*/

/* CONTENT DESIGNS*/
.image{
  position: absolute;
  width: 943px;
  height: 689px;
  left: 50%;
  transform: translateX(-50%);
  top: 180px;
  border-radius: 20px;
}
/* CONTENT DESIGNS*/


 